@media screen and (max-width:576px) {

    /* nav bar responsive design starts from here */
    header{
        width:100%;
    }
    .nav_bar{
        margin:0 30px;
    }
    .nav_items{
        display: none;
    }
    .bar{
        display: block;
        font-size: 25px;
        color:white;
    }

    /* nav bar responsive design ends here */


    /* header responsive design starts from here */

    .header_body_wrapper{
        flex-direction: column;
        margin: 50px 30px 0px 30px;
    }
    .left_content,.right_content{
        width:100%;

    }
    .mybtn_1 .club{
        display: none;
    }
    .mybtn_1{
        padding:16px 45px;
    }

    .left_content h1{
        font-size: 48px;
        padding-right: 150px;
    }
    .left_content p{
        font-size: 16px;
        padding-right: 80px;
    }
    .left_content{
        margin-bottom: 50px;
    }
    .flow_2{
        top:70px;
        right: 10px;
    }
    .flow_1{
        left:180px;
        bottom:260px;
    }

    .flow_2 h2{
        font-size: 25px
    }
    .flow_2 p{
        font-size: 10px;
    }

    .flow_1 h2{
        font-size: 20px
    }
    .flow_1 p{
        font-size: 12px;
    }
    .circle{
        width:30px;
        height: 30px;
    }

    /* header responsive design ends here */


    /* Habits section responsive design starts from here */
    .wrapper{
        padding-top:5px;
    }
    .habits_first_content{
        width:100%;
        padding:0 85px;
    }
    .habits_first_content h1{
        font-size: 32px;
    }

    .habits_second_content{
        flex-direction: column;
        gap:0;
    }
    .card{
        padding:0 140px;
        margin:20px auto;
    }

    /* habits section responsive design ends here */


    /* Extra section design starts from here */

    .extra{
        flex-direction: column;
        margin:0 30px;
    }
    .extra_left_content,.extra_right_content{
        width:100%;
    }
    .extra_left_content{
        margin-bottom: 40px;
        padding-right: 30px;
    }
    .extra_left_content h1{
        font-size: 40px;
    }
    .mybtn_3{
        padding:16px 100px;
    }
    .extra_image_container{
        width:100%;
        height: 250px;
    }
    .extra_image_container> img{
    width:750px;
    height: 350px;
    top:-60px;
    left:-250px;

    }

    /* Extra section design ends here */


    /*Exercise section design starts from here */

    .exercise{
        width:90%;
        margin:40px 30px;
    }
    .exercise_first_content{
        width:100%;
        padding-right: 120px;
    }
    .exercise_first_content h1{
        font-size: 40px;
    }
    .exercise_second_content{
        grid-template-rows: repeat(2,170px);
    }
    .item_3,.item_6{
        display: none;
    }
    .item_1{
        grid-column-start: 1;
        grid-column-end: 6;
    }
    .item_2{
        grid-column-start: 6;
        grid-column-end: -1;
    }
    .item_4{
        grid-column-start: 1;
        grid-column-end: 5;
    }
    .item_5{
        grid-column-start: 5;
        grid-column-end: -1;
    }
    .item_1_shadow p{
        color:white;
    }
    .item_4_shadow p{
        top:130px;
        left:20px;
    }

    /*Exercise section design ends here */

    /*bmi calculator section starts from here */

    .bmi_calculator{
        width:90%;
        margin:0 30px;
        padding-right: 80px;
    }
    .bmi_calculator h1{
        font-size: 35px;
    }
    .calculator_chart{
        width:100%;
        margin:30px 0px;
    }
    .chart_wrapper{
        width:94%;
        margin:0 30px;
        flex-direction: column;
    }
    .chart_left_content{
        margin-bottom: 40px;
        width:90%;
    }
    .chart_left_content h2, .chart_right_content h2{
        font-size: 20px;
    }

    .chart_right_content {
        width:95%;
    }
    input[type="text"],input[type="number"],select{
        width:47.60%;
    }



    /*bmi calculator section ends here */



}