@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Script&family=Meow+Script&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
}

header{
    background: linear-gradient( rgb(17, 17, 17), rgb(37, 37, 37),rgb(4, 4, 4));
}


.header_wrapper,.wrapper{
    max-width: 1200px;
    margin:0 auto;
    padding-top: 50px;
}


/* nav bar design starts from here */

.nav_title h1{
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-style:italic;
}

.nav_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_items>ul{
    display: flex;
    border:1px solid rgb(80, 80, 80);
    border-radius: 50px;
}
.nav_items>ul>li{
    list-style: none;
    margin-right: 25px;
}
.nav_items>ul>li:last-child{
    margin-right: 10px;
}
.nav_items>ul>li>a{
    text-decoration: none;
    color:white;
    font-size: 18px;
    padding:10px 20px;
    display: inline-block;
}
.active_btn{
    background-color:rgb(230, 83, 60);
    border-radius: 50px;
    margin:3px;
}

.bar{
    display: none;
}

/* nav bar design ends here */

/* header body design starts from here */

.header_body_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left_content{
    width:50%;
}

.left_content h1{
    color: rgb(255, 255, 255);
    font-size: 78px;
    font-weight: 900;
    margin-bottom: 28px;

}
.left_content p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;

}
.club{
    font-style: normal;
}

.left_content span{
    font-family: "League Script", cursive;
    font-weight: 900;

}
.mybtn_1 , .mybtn_2{
    text-decoration: none;
    color:white;
    border:1px solid rgba(255, 255, 255,0.3);
    border-radius: 40px;
    font-size: 18px;
    padding:15px 40px;
}
.mybtn_1{
    background: rgb(230, 83, 60);
    border:none;
    margin-right: 15px;
    padding:16px 40px;
}

.right_content{
    width:50%;
    text-align: right;
}
.image_container{
    position: relative;
}
.flow_1, .flow_2{
    position: absolute;
    width:auto;
    height: auto;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    padding:15px;
}
.circle{
    background:rgb(230, 83, 60);
    width:40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 12px;
}
.flow_1{
    display: flex;
    align-items: center;
    left:170px;
    bottom:80px;
    text-align: left;

}
.flow_1 h2{
    font-size: 24px;
    color:white;
}
.flow_1 p{
    font-size: 16px;
    color:rgba(255, 255, 255, 0.65);
}
.flow_2 h2{
    font-size: 40px;
    font-weight: 900;
    color:white;
}
.flow_2 p{
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400;

}
.flow_2{
    text-align: left;
    top:120px;
    right:-30px;
}

/* header body design ends here */


main{
    background-color: black;
}


/* habit section starts from here */
.habits{
    width:100%;
    height: auto;
}

.habits_first_content{
    width:50%;
    margin:0 auto;
    text-align: center;
}
.habits_first_content h1{
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 15px;
}
.habits_first_content p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}

.habits_second_content{
    display: flex;
    color:white;
    margin: 50px 0px;
    gap: 40px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}

.card > .image_container >img{
    border-radius: 50%;
    border:2px solid gray;
}

.card h3{
    font-size: 18px;
    margin-top: 20px;
}
.card p{
    color:rgba(255, 255, 255, 0.5);
    font-size: 14px;
    margin-top:5px;
}

/* habit section ends here */


