@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Script&family=Meow+Script&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Primary font-size and color */
h1{
    font-size: 48px;
    color:white;
    font-weight: 900;
}
p{
    font-size: 15px;
    color:rgba(255, 255, 255, 0.5);
    font-weight: 400;
}

body{
    font-family: "Inter", sans-serif;
}



/*Header starts from here */
header{
    background: linear-gradient( rgb(17, 17, 17), rgb(37, 37, 37),rgb(4, 4, 4));
}


.header_wrapper,.wrapper{
    max-width: 1200px;
    margin:0 auto;
    padding-top: 50px;
}
/*Header starts ends here */



/* nav bar design starts from here */

.nav_title h1{
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-style:italic;
}

.nav_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_items>ul{
    display: flex;
    border:1px solid rgb(80, 80, 80);
    border-radius: 50px;
}
.nav_items>ul>li{
    list-style: none;
    margin-right: 25px;
}
.nav_items>ul>li:last-child{
    margin-right: 10px;
}
.nav_items>ul>li>a{
    text-decoration: none;
    color:white;
    font-size: 18px;
    padding:10px 20px;
    display: inline-block;
}
.active_btn{
    background-color:rgb(230, 83, 60);
    border-radius: 50px;
    margin:3px;
}

.bar{
    display: none;
}

/* nav bar design ends here */

/* header body design starts from here */

.header_body_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left_content{
    width:50%;
}

.left_content h1{
    color: rgb(255, 255, 255);
    font-size: 78px;
    font-weight: 900;
    margin-bottom: 28px;

}
.left_content p{
    margin-bottom: 40px;

}
.club{
    font-style: normal;
}

.left_content span{
    font-family: "League Script", cursive;
    font-weight: 900;

}
.mybtn_1 , .mybtn_2{
    text-decoration: none;
    color:white;
    border:1px solid rgba(255, 255, 255,0.3);
    border-radius: 40px;
    font-size: 18px;
    padding:15px 40px;
}
.mybtn_1{
    background: rgb(230, 83, 60);
    border:none;
    margin-right: 15px;
    padding:16px 40px;
}

.right_content{
    width:50%;
    text-align: right;
}
.image_container{
    position: relative;
}
.flow_1, .flow_2{
    position: absolute;
    width:auto;
    height: auto;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    padding:15px;
}
.circle{
    background:rgb(230, 83, 60);
    width:40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 12px;
}
.flow_1{
    display: flex;
    align-items: center;
    left:170px;
    bottom:80px;
    text-align: left;

}
.flow_1 h2{
    font-size: 24px;
    color:white;
}
.flow_1 p{
    font-size: 16px;
    color:rgba(255, 255, 255, 0.65);
}
.flow_2 h2{
    font-size: 40px;
    font-weight: 900;
    color:white;
}
.flow_2 p{
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400;

}
.flow_2{
    text-align: left;
    top:120px;
    right:-30px;
}

/* header body design ends here */


main{
    background-color: black;
}


/* habit section starts from here */
.habits{
    width:100%;
    height: auto;
}

.habits_first_content{
    width:50%;
    margin:0 auto;
    text-align: center;
}
.habits_first_content h1{
    margin-bottom: 15px;
}

.habits_second_content{
    display: flex;
    color:white;
    margin: 50px 0px;
    gap: 40px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}

.card > .image_container >img{
    border-radius: 50%;
    border:2px solid gray;
}

.card h3{
    font-size: 18px;
    margin-top: 20px;
}
.card p{
    margin-top:5px;
}

/* habit section ends here */



/* Extra section design starts from here */

.extra{
    padding:30px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}
.extra_left_content{
    width:45%;
    margin-left: 50px;
    padding-right: 70px;
}

.extra_left_content h1{
    margin-bottom: 15px;

}
.extra_left_content p{
    margin-bottom: 50px;

}

.mybtn_3{
    text-decoration: none;
    color:white;
    font-size: 18px;
    background: rgb(230, 83, 60);
    border:none;
    margin-right: 15px;
    padding:14px 40px;
    border-radius: 40px;
}
.extra_image_container{
    width:420px;
    height: 350px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}
.extra_image_container> img{
    width:1000px;
    height: 850px;
    object-fit:cover;
    object-position: 210% 0;
    position: absolute;
    top:-150px
}

/* Extra section design ends here */

/*Exercise section design starts from here */

.exercise{
    width:100%;
    height:auto;
    margin-bottom: 40px;
}
.exercise_first_content{
    width:50%;
}
.exercise_first_content h1{
    margin-bottom: 15px;
}
.exercise_first_content p{
    margin-bottom: 40px;
}
.exercise_second_content{
    width:100%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(2,250px);
    overflow:hidden;
}
.exercise_second_content>.item>img{
    width:100%;
    height: 100%;
}
.item_1,.item_2,.item_3,
.item_4,.item_5,.item_6{
    position: relative;
}
.item_1{
    grid-column-start: 1;
    grid-column-end: 4;
}
.item_2{
    grid-column-start: 4;
    grid-column-end: 10;
}
.item_3{
    grid-column-start: 10;
    grid-column-end: -1;
}
.item_4{
    grid-column-start: 1;
    grid-column-end: 6;
}
.item_5{
    grid-column-start: 6;
    grid-column-end: 9;
}
.item_6{
    grid-column-start: 9;
    grid-column-end: -1;
}


.item_1_shadow,.item_2_shadow,
.item_3_shadow,.item_4_shadow,
.item_5_shadow,.item_6_shadow {
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    color:white;
}
.item_1_shadow{
    background-color: rgba(0, 255, 238, 0.405);
}
.item_2_shadow{
    background-color: rgba(161, 14, 19, 0.405);
}
.item_3_shadow{
    background-color: rgba(188, 188, 188, 0.405);
}
.item_4_shadow{
    background-color: rgba(0, 0, 0, 0.55);
}
.item_5_shadow{
    background-color: rgba(81, 255, 0, 0.337);
}
.item_6_shadow{
    background-color: rgba(0, 123, 255, 0.318);
}
.item_1_shadow p,
.item_3_shadow p,
.item_5_shadow p,
.item_6_shadow p{
    position: absolute;
    bottom: 20px;
    left:20px;
}
.item_1_shadow p{
    color:black;
}
.item_2_shadow p{
    position: absolute;
    top: 20px;
    left:20px;
}
.item_4_shadow p{
    position: absolute;
    top: 20px;
    right:20px;
}

/*Exercise section design ends here */

/*BMI Calculator section design starts from here */

.bmi_calculator{
    width:50%;
    margin:0 auto;
}
.bmi_calculator h1{
    margin-bottom: 15px;
}



.calculator_chart{
    background: rgb(34, 34, 34);
    margin-top: 50px;
}
.chart_wrapper{
    width:1200px;
    margin:0 auto;
    padding:40px 0px;
    display: flex;
    justify-content: space-between;
}
.chart_left_content{
    width:35%;
}
.chart_left_content h2{
    font-size: 30px;
    color:white;
    font-weight: 900;
    margin-bottom: 40px;
}

.chart_left_content table,th,td{
    border:1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
}
.chart_left_content table{
    width:400px;
    height: 250px;
}
.chart_left_content th{
    font-size: 16px;
    color:white;
    font-weight: 500;
    text-align: left;
    padding-left: 20px;
}
.chart_left_content td{
    color:rgba(255, 255, 255, 0.5);
    padding-left: 20px;
    font-size: 14px;
}

.chart_right_content{
    width:55%;
}
.chart_right_content h2{
    font-size: 28px;
    color:white;
    font-weight: 900;
    margin-bottom: 15px;
}
.chart_right_content p{
    margin-bottom: 30px;
}

input[type="text"],input[type="number"],select{
    background-color: rgba(255, 255, 255, 0.1);
    width:48%;
    padding:15px 25px;
    font-size: 18px;
    color:rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    margin:8px 5px;
    border:none;
}
#factor{
    width:98%;
    color:rgba(174, 174, 174, 0.6);
}
#sex{
    color:rgba(174, 174, 174, 0.6);
}

.cal_btn{
    border:none;
    padding:18px 80px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    font-size: 18px;
    color:white;
    margin-top: 30px;
}

/*BMI Calculator section design ends here */



/* Meet section design starts from  here */

.meet_container{
    width:1200px;
    margin:0 auto;
    padding: 50px 0px;
}
.meet_first_content{
    width:50%;
    margin:0 auto;
    text-align: center;
}
.meet_first_content h1{
    margin-bottom: 14px;
}

.team_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,330px);
    background: rgb(34, 34, 34);
    margin:50px 0px 0px 0px;
    gap:25px;
    border-radius: 20px;
    padding:25px;
}
.member{
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.member > img{
    width:100%;
    height: 100%;
    filter: brightness(70%);
}
.member .text{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.text h3{
    color:white;
}

/* Meet section design ends  here */


/* Motivation section design starts from here */

.motivation_content{
    background-color: black;
    width:100%;
}
.content_wrapper{
    width:50%;
    margin:0 auto;
    text-align: center;
    padding:0 40px;
}
.content_wrapper h1{
    margin-bottom: 10px;
}
.content_wrapper p{
    padding-bottom: 40px;
}

.motivation_section{
    background-color: black;
    padding-bottom: 50px;
}
.motivation_wrapper{
    width:1200px;
    height: 600px;
    margin:0 auto;
    overflow: hidden;
    position: relative;
    background-color: rgb(34, 34, 34);
    border-radius: 15px;
}
.motivation_wrapper>img{
    width:95%;
    height: 90%;
    margin:30px auto;
    text-align: center;
    display: block;
    border-radius: 15px;
}
.speech{
    position:absolute;
    top:0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.47);
    width:100%;
    height: 100%;
}
.speech h1{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.speech span{
    font-size: 32px;
    color:rgba(255, 255, 255, 0.5);
}
/* Motivation section design ends here */



/*Footer section starts from here */

footer{
    background: rgb(34, 34, 34);
}
.footer_container{
    width:1200px;
    margin:0 auto;
    padding:30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:50px 0px;
}
.footer_left_content{
    padding:20px 20px 20px 0px;
}
.footer_left_content h1{
    color: rgb(230, 83, 60);
    font-size: 70px;
    font-weight: 800;
    font-style: italic;
    margin-bottom: 20px;

}

.footer_middle_content h2, .footer_right_content h2{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
}
.footer_right_content a, .footer_middle_content a{
    text-decoration: none;
    display: block;
    color:rgba(255, 255, 255, 0.5);
    margin:10px 0px;
}

.underline{
    width:1200px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    margin:0 auto;
    border:none;
}
.copyright{
    text-align: center;
    padding:20px 0px;
    color:rgba(255, 255, 255, 0.5);
}